name: SonarCloud Scan

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  scan:
    runs-on: ubuntu-latest

    steps:
      # Checkout your repository code.
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      # Run SonarCloud Analysis
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v2
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.projectKey=vignesh1234-vi_WebappPort
            -Dsonar.organization=vignesh1234-vi-1
            -Dsonar.host.url=https://sonarcloud.io
            -Dsonar.sources=.
            -Dsonar.verbose=true
